@page
@model SE1611_Group3_A3.Pages.Carts.CheckoutModel
<style>
    label {
        font-weight: 700;
        margin-top: 10px;
    }
</style>
<h1>Checkout</h1>
<h4>Order</h4>
<hr />
<form method="post">
    <div class="row">
        <div class="col-md-6">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="@Model.Order.FirstName" class="control-label"></label>
                <input asp-for="@Model.Order.FirstName" class="form-control" />
                <span asp-validation-for="@Model.Order.FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Order.LastName" class="control-label"></label>
                <input asp-for="@Model.Order.LastName" class="form-control" />
                <span asp-validation-for="@Model.Order.LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Order.Address" class="control-label"></label>
                <input asp-for="@Model.Order.Address" class="form-control" />
                <span asp-validation-for="@Model.Order.Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Order.City" class="control-label"></label>
                <input asp-for="@Model.Order.City" class="form-control" />
                <span asp-validation-for="@Model.Order.City" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Order.State" class="control-label"></label>
                <input asp-for="@Model.Order.State" class="form-control" />
                <span asp-validation-for="@Model.Order.State" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="@Model.Order.Country" class="control-label"></label>
                <input asp-for="@Model.Order.Country" class="form-control" />
                <span asp-validation-for="@Model.Order.Country" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Order.Phone" class="control-label"></label>
                <input asp-for="@Model.Order.Phone" class="form-control" />
                <span asp-validation-for="@Model.Order.Phone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Order.Email" class="control-label"></label>
                <input asp-for="@Model.Order.Email" class="form-control" />
                <span asp-validation-for="@Model.Order.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Order.Total" class="control-label">Total</label>
                <input readonly asp-for="@Model.Order.Total" class="form-control" />
            </div>
            <div class="form-group">
                <label class="control-label" style="visibility:hidden">order</label>
                <div class="d-flex justify-content-center">
                    <input type="submit" value="Order" class="btn btn-primary" />
                </div>
            </div>
            <input asp-for="@Model.Order.OrderDate" hidden class="form-control" />
            <input asp-for="@Model.Order.UserName" hidden class="form-control" />
        </div>
    </div>
</form>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}