@page
@model SE1611_Group3_A3.Pages.Albums.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Album[0].Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Album[0].Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Album[0].AlbumUrl)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Album[0].Artist)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Album[0].Genre)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Album) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AlbumUrl)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Artist.ArtistId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Genre.GenreId)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.AlbumId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.AlbumId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.AlbumId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
