@page
@model SE1611_Group3_A3.Pages.Shopping.IndexModel
@{
    ViewData["Title"] = "Shopping";
}

<section style="margin: 20px 0 0 0;">
    <h1>Shopping</h1>
    <div>
        <div>
            <form asp-page="./Index" method="get">
                Genre name:
                <select name="genreId">
                    @if (Model.GenreId == -1)
                    {
                        <option selected value="-1">---All---</option>
                    }
                    else
                    {
                        <option value="-1">---All---</option>
                    }
                    @foreach (var genre in Model.genres)
                    {
                        @if (genre.GenreId == Model.GenreId)
                        {
                            <option selected value="@genre.GenreId">@genre.Name</option>
                        }
                        else
                        {
                            <option value="@genre.GenreId">@genre.Name</option>
                        }
                    }
                </select>&nbsp;
                <div class="form-actions no-color">
                    <p>
                        Find by name:
                        <input type="text" name="search" value="@Model.Search" />
                        <input type="submit" value="Search" class="btn btn-primary" /> |
                        <a asp-page="./Index">Back to full List</a>
                    </p>
                </div>
            </form>
        </div>
    </div>
    <div class="mt-2 d-flex justify-content-around">

        @foreach (var album in Model.albums)
        {
            <div>
                <img src="@album.AlbumUrl" alt="image @album.Title" style="width: 150px;height: 100px;">
                <p>@album.Price</p>
                <p>@album.Title</p>
                @foreach (var artist in Model.artists)
                {
                    @if (artist.ArtistId == album.ArtistId)
                    {
                        <p>Artist: @artist.Name</p>
                    }
                }
                @foreach (var genre in Model.genres)
                {
                    @if (genre.GenreId == album.GenreId)
                    {
                        <p>Genre: @genre.Name</p>
                    }
                }
                <form method="post">
                    <input asp-route-genreId="@Model.GenreId"
                       asp-route-pageIndex="@(Model.albums.PageIndex)"
                       asp-route-search="@Model.Search"
                       asp-route-albumId="@album.AlbumId"
                       type="submit" class="bg-secondary text-white" onclick="myFunction('@(album.Title)');" value="Add to cart" />
                </form>
            </div>
        }
    </div>


    <div style="margin-top: 50px;">

        @{
            var prevDisabled = !Model.albums.HasPreviousPage ? "disabled" : "";
            var nextDisabled = !Model.albums.HasNextPage ? "disabled" : "";
        }

        <a asp-page="./Index"
           asp-route-genreId="@Model.GenreId"
           asp-route-pageIndex="@(Model.albums.PageIndex - 1)"
           asp-route-search="@Model.Search"
           class="btn btn-primary @prevDisabled">
            Previous
        </a>
        <a asp-page="./Index"
           asp-route-genreId="@Model.GenreId"
           asp-route-pageIndex="@(Model.albums.PageIndex + 1)"
           asp-route-search="@Model.Search"
           class="btn btn-primary @nextDisabled">
            Next
        </a>
        @if (Model.PageIndex <= Model.TotalPage)
        {
            <p>Page: @Model.PageIndex/@Model.TotalPage</p>
        }
    </div>


</section>

<script>
    function myFunction(aTitle) {
        alert("Add album " + aTitle + " to cart successfully!");
    }
</script>
